@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Black.ttf"); 
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-BlackItalic.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Medium.ttf);
    font-weight: 300;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

body { 
    margin: 0;
    padding: 0;
    background-color: rgb(210, 207, 228);
}

body {
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(26, 22, 22);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(220, 237, 237);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(220, 237, 237);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.nav-list {
    list-style: none;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    color: rgb(53, 5, 97);
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
    line-height: 1.5;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: rgb(238, 227, 61);
}

.list-footer ul {
    display: inline;
    list-style: none;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(118, 11, 217);    
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(53, 49, 77);
}

h3::before {

    content: "";
    border-bottom: 5px;
    border: 1px solid rgb(187, 100, 237);
}

.contacts {
    width: 1000px;
    height: 200px;
}

.avatar {
    width: 180px;
    height: 200px;
    float: left;
    padding: 10px 20px 20px 20px;
        
}


.icon-list {
    list-style-type: none;
    margin: 0;
    padding: 2px;

}



 
